{% extends "app11/fe/main/lib/admin_base.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">
  
    <!-- Card Header -->
    <div class="card-header d-flex justify-content-between align-items-center" style="height:45px">
        <h5 class="m-0">Hospital Detail</h5>
        <div>
            <button type="button" id="btnCancel" class="btn btn-primary btn-sm">Close</button>
            <button type="button" id="btnSave" class="btn btn-success btn-sm ms-2">Save</button>
        </div>
    </div>

    <!-- Card Body -->
    <div class="card-body">
        <form method="post" id="form_donor">
            <!-- Hidden Hub ID Field -->
            <div class="col-12 mb-3">
                <input type="hidden" class="form-control" value="{{ses.user.hub_id}}" name="hub_id">
            </div>

            <!-- Form Fields -->
            <div class="row">
             
                <!-- Activity Name -->
                <div class="col-md-3 mb-3">
                    <label for="hospitalName" class="form-label">Hospital Name</label>
                    <input type="text" class="form-control" id="hospitalName" value="{{hospital_name}}" 
                        placeholder="Enter hospital name" name="hospitalName">
                </div>
				
				
				 <!-- Count of People -->
                <div class="col-md-3 mb-3">
                    <label for="hospital_phone" class="form-label">Hospital Phone Number</label>
                    <input type="text" class="form-control" id="hospital_phone" value="" 
                        placeholder="Enter hospital phone number" name="hospital_phone">
                </div>
				
				 <div class="col-md-3 mb-3">
                    <label for="pincode" class="form-label">Pin Code</label>
                    <input type="text" class="form-control" id="pincode" value="" 
                        placeholder="Enter Pin Code " name="pincode">
                </div>

				<!-- Village Selection -->
                <div class="col-md-3 mb-3">
                    <label for="village" class="form-label">Village</label>
                    <x-select id="village" class="form-select" 
                        x-value-id="{{village_id}}" x-value-disp="{{village_name}}" 
                        x-name-id="village_id" x-name-disp="village_name">
                        <option value="" disabled selected>Select Village</option>
                        <option value="Jakkur">Jakkur</option>
                        <option value="Lavale">Lavale</option>
                        <option value="Kallar">Kallar</option>
                        <option value="Keezhmad">Keezhmad</option>
                        <option value="PratapNagar">Pratap Nagar</option>
                    </x-select>
                </div>

               
               
            </div>
        </form>
    </div>
</div>
{% endblock %}
