{% extends "app11/fe/main/lib/base_mob.htm" %}

{% block body %}
<div id="x-main" class="container-full" style="margin-top:40px">
  
	<div class="card-header d-flex justify-content-between align-items-center" style="height: 60px">
		<h5 class="ps-2 mb-0">Request Detail</h5>
		<div>
		  <button type="button" id="btnCancel" class="btn btn-primary btn-sm ms-2">Close</button>
		  <button type="submit" form="form_donor" id="btnSave" class="btn btn-success btn-sm ms-2">Save</button>
		</div>
	  </div>

  <div class="card-body">
    <form method="post" id="form_request">
	  <div class="col-md-6">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number" 
                 placeholder="Enter the phone number" oninput="updateFarmerName(this.value)">
          <div class="mt-2">
            <span id="farmer_label" class="text-dark">Unknown Farmer</span>
          </div>
        </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="request_date" class="form-label">Request Date</label>
          <input type="date" class="form-control" id="request_date" name="request_date" value="{{ request_date }}" placeholder="Enter the request date">
        </div>

      </div>

    </form>
  </div>
  
</div>
{% endblock %}
